/*bootstrap override*/

.form-control {
  border-radius: 0;
  background-color:rgba(0,0,0,0) !important;
  border: 1px solid grey;
  z-index: 10;
}

.form-control:focus {
  border-color: #ADD8E6;
  box-shadow: inset 0 1px 1px rgba(128 , 128, 128, 0.075), 0 0 8px rgba(128, 128, 128, 0.6);
}

.red {
  color: #C13232;
}
.btn-contact {
  border-radius: 0;
  background-image: linear-gradient(to bottom, #72BCD4 0%, #ADD8E6 100%);
  border: 1px solid grey;
}

.feedback-form {
  height: 300px;
  text-align: center;
  line-height: 300px;
}

#feedback-form {
  display:none;
}

.btn-primary:hover, .btn-primary:focus {
  background-position :0;
  background-image: linear-gradient(to bottom, #d3d3d3 0%, #ADD8E6 100%);
}



.label-contact {
  font-size: 24px;
}

/* contact background+*/

.bg-white{
  background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid white;
}

/* header contact */

.header-contact{
  width:100%;
  height:10vh;
}

/* menu small*/

.menu-small-dropdown {
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  list-style-type: none;
  padding: 0;
  z-index:6;
  height:100px;
}



.menu-small-dropdown li {
width: 100%;
height: 80px;
background-color: #ADD8E6;
margin:0;
padding:0;
line-height: 80px;
text-align: center;
border-bottom: 1px solid grey;
}

.menu-small-dropdown li a {
vertical-align: middle;
margin-left: auto;
margin-right:auto;
font-size: 36px;
color: white;
}

.menu-small-dropdown li a:hover {
color: grey;
text-decoration: none;
}

.menu-small-icon {
  display:none;
  color:grey;
  position: fixed;
  top: 30px;
  right: 20px;
}

@media (max-width: 768px){
  .menu-small-icon {
    display: inline-block;
  }
  .main-menu ul.menu-big {
    display:none;
  }
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;

}

html {
  min-height: 100%; /* enforce height */
  scroll-behavior: smooth;

}


.main-menu{
  margin:0;
  padding:0;
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  height: 100px;
  width: 100%;
  width: 100vw;
  background-color: #72BCD4;
  z-index:1;
  border-bottom: 2px solid grey;
}

.z-ind {
    z-index:3;
}



@media(max-width:768px){
  .main-menu{
    height:95px;
  }
}

ul.menu-big {
  top:0;
  right:0;
  left:0;
  list-style-type: none;
  padding: 0;
  margin: auto;
  width: 50%;
  height: 100%;
}

@media(max-width:1800px){
  ul.menu-big {
    width: 65%;
  }
}

@media(max-width:1400px){
  ul.menu-big {
    width: 80%;
  }
}

@media(max-width:900px){
  ul.menu-big {
    width: 100%;
  }
}


ul.menu-big li {
  height:100%;
  display: inline-block;
  float: left;
  width:25%;
  padding-top: 40px;
  text-align: center;
}


ul.menu-big li a {
  font-size: 36px;
  text-align: center;
  padding: 14px 2px;
  text-decoration: none;
  color:grey;
  outline: 0;
}

@media(max-width:1200px){
  ul.menu-big li a {
    font-size: 30px;
  }
}


ul.menu-big li a.first:focus{
  outline: 0;
}

ul.menu-big li a:hover, ul.menu-big li a:active, ul.menu-big li a:focus {
  outline: 0;
  text-decoration: none;
  color:white;
}

@media(max-width:768px){
  ul.menu-big li {
    padding-top: 20px;
  },
  ul.menu-big li a {
    font-size: 24px !important;
  }
}

@media(max-width:480px){
  ul.menu-big li {
    width:100%;
  },
  ul.menu-big li a {
    font-size: 24px;
  }
}

.header {
  width:100%;
  height:20vh;
}

@media(max-width:768px){
  .header {
    height:10vh;
  }
}

.container {
  width:100%;
}

.container-wrap {
  overflow: hidden;
}

.container-wrap::before{
  margin:0;
  padding:0;
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom:0;
  right:0;
  width: 100%;
  height: 120vh;
  z-index: -10;
  background: url("../images/background.jpg") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
}


.wrapper {
  position:fixed;
  width:100%;
  height:100%;
}
.content-name, .content-name-top{
  width:100%;
  z-index: 2;
  line-height:280px;
  text-align: center;
}

@media(max-width:1200px){
  .content-name-top{
    line-height:200px;
    margin-top: 40px;
  }
}

.bg-blue {
  background-color: #5B96A9;
  border: 1px solid white;
}

h2 a {
  text-decoration: none;
  color: white;
}

h2 a:hover, h2 a:focus, h2 a:visited, h2 a:active {
  text-decoration: none;
  color: white;
}

@media(max-width: 360px){
  .footer-container h2, .footer-container h3 {
    font-size: 20px;
  }
}

@media (min-width: 360px) and (max-width:450px){
  .footer-container h2 {
    font-size: 26px;
  }
}

@media(max-width: 450px){
  .icon-wapp {
  width: 25px;
  }
}


.icon-wapp {
width: 30px;
padding: 1px;
height:auto;
}

.icon-wapp-big {
width: 40px;
padding: 1px;
height:auto;
}


.content-name-bg-blue  h1, .content-name-bg-blue  h2, .content-name-bg-blue  h3, .content-name-bg-blue  h4, .content-name-bg-blue  h5{
  color: white !important;
  font-family: 'Roboto Condensed', sans-serif;
}

.content-name-bg-blue {
  text-align: center;
}
.content-name h1, .content-name-top h1{
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  color: white;
  font-size: 54px;
  font-family: 'Roboto Condensed', sans-serif;
}

@media(max-width:992px){
  .content-name h1, .content-name-top h1{
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 38px;
    font-family: 'Roboto Condensed', sans-serif;
  }
}

.content-name h1, .content-name  h2, .content-name  h4, .content-name  h5{

  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

.feedback-form h1{
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  color: black;
  font-size: 34px;
  font-family: 'Roboto Condensed', sans-serif;
}

.content{
  width:100%;
  z-index: 2;

}

.content-home-container {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content-home-header-container {
  background-color: #5B96A9;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 1px 1px 1px 10px;
}
.content-home-body {
  background-color: #fff;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content-home-body p {
  line-height: 1.6;
}

.content-home-body img {
  width:100%;
  height: auto;
}

.content-icon {
  margin-right: 15px;
  width:20px;
  height:auto;
}

.detail{
  border: 1px dotted white;
  height: 400px;
}
.footer-container {
  margin-top: 200px;
  background-color: #5B96A9;
  right:0;
  left:0;
  bottom
  z-index:4;
  color: white;
  border-top: 1px solid grey;

}

i {
  display:inline-block;
  float: left;
}

.img {
  width: 100%;
  height: auto;

}

#map {
  width:100%;
  height: 350px;
}
