<div class="container-wrap">

  <!-- header -->
  <div class="row">
    <div class="header-contact">
    </div>

    <!-- heading -->
    <div class="row p_m">
      <div class ="col-sm-12">
      <div class="content-name-top">
        <h1 class="m_0">Get to know Brac island by our taxi service</h1>
      </div>
    </div>
    </div>

    <!-- data -->
    <div class="row mb_xl p_m">
      <div class="col-sm-12 pb_s">
        <div class="hidden-sm col-md-1 col-lg-2 p_s">
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 p_s">
          <div class="col-sm-12 content-home-container p_0">
            <div class="col-sm-12 content-home-header-container">
              <h2><i class="fa fa-chevron-right content-icon" aria-hidden="true"></i>Supetar | Island of Brac</h2>
            </div>
            <div class="col-sm-12 content-home-body pt_s mt_s">
              <img src="../../images/supetar1.jpg">
            </div>
            <div class="col-sm-12 content-home-body mt_s">
              <p class="pb_s"> Supetar is the biggest town on Brac and it's largest port connected directly with Split. It has beatiful church, big bay with lots of nice beaches and a great promenade with numerous caffe bars and restaurants. There are all the things you will maybe need during your stay on the island: hospital, post office, green market, etc. Supetar is great weather you are spending your whole vacation there or just passing by to other places on Brac!</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 p_s">
          <div class="col-sm-12 content-home-container p_0">
            <div class="col-sm-12 content-home-header-container">
              <h2><i class="fa fa-chevron-right content-icon" aria-hidden="true"></i>Bol and Zlatni rat | Island of Brac</h2>
            </div>
            <div class="col-sm-12 content-home-body pt_s mt_s">
              <img src="../../images/brac2.jpg">
            </div>
            <div class="col-sm-12 content-home-body mt_s">
              <p class="pb_s"> For many people Bol is the most beautiful place on Brac island. Beside the most famous beach in Croatia (and maybe in the world!), Zlatni rat, you can enjoy in vast number of restaurants, bistors and bars in this charming little town on the south side of Brac. You can get lost in the narrow streets of this town, somewhere between old stone house - real architectural jewels. Bol is very well connected with city of Split by a catamaran line.</p>
            </div>
          </div>
        </div>
        <div class="hidden-sm col-md-1 col-lg-2 p_s">
        </div>
      </div>
    </div>

<!-- bottle-down -->
    <div class="row">
      <div class="fill-container ">
      </div>
      <div class="bottle-container-down">
      </div>
    </div>
    <div class="row">
      <div class="imgborder-d m_0">
      </div>
    </div>

    <!-- data -->
    <div class="row mb_0 mt_xxl pb_0 pl_m pr_m">
      <div class="col-sm-12 pb_s">
        <div class="hidden-sm col-md-1 col-lg-2 p_s">
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 p_s">
          <div class="col-sm-12 content-home-container p_0">
            <div class="col-sm-12 content-home-header-container">
              <h2><i class="fa fa-chevron-right content-icon" aria-hidden="true"></i>Vidova gora | Island of Brac</h2>
            </div>
            <div class="col-sm-12 content-home-body pt_s mt_s">
              <img src="../../images/vidovagora.jpg">
            </div>
            <div class="col-sm-12 content-home-body mt_s">
              <p class="pb_s"> If you are passing through the interior of Brac you must take a short trip to visit one of the Brac's most famous natural landmarks. Vidova gora is the highest peak on all of the Adriatic islands with 780 meters above the sea level. From there, you can enjoy a great view on a big portion of Adriatic sea, island of Hvar, famous Zlatni rat beach near Bol and many other landmarks.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 p_s">
          <div class="col-sm-12 content-home-container p_0">
            <div class="col-sm-12 content-home-header-container">
              <h2><i class="fa fa-chevron-right content-icon" aria-hidden="true"></i>Wineries | Island of Brac</h2>
            </div>
            <div class="col-sm-12 content-home-body pt_s mt_s">
              <img src="../../images/wtb4.jpg">
            </div>
            <div class="col-sm-12 content-home-body mt_s">
              <p class="pb_s"> Brac island is famous for it's wine, wineries and vineyards. Especially for red wine from the sort plavac mali, whith big vineyards on the southern slopes of the island. Use our taxi's to visit some of the local winerys and vineyards and have the unforgettable wine tasting experience in traditional environment. There are nice family wineries located in Nerezisca nd Dracevica in the inland part of Brac.</p>
            </div>
          </div>
        </div>
        <div class="hidden-sm col-md-1 col-lg-2 p_s">
        </div>
      </div>
    </div>


    <!--footer -->
        <div class="footer-container">
          <div class="row p_m">
            <div class="col-sm-12">
              <div class="hidden-sm col-md-1 col-lg-2">
              </div>
              <div class="col-sm-12 col-md-5 col-lg-4 pt_l">
                <h1 class="m_0">Taxi Brac Official</h1>
                <h3 class="m_xs">Taxi service all around Brac</h3>
                <h3 class="m_xs">Porat bb | 21400 Supetar</h3>
                <h3 class="m_xs">Island of Brač | Croatia</h3>
              </div>
              <div class="col-sm-12 col-md-5 col-lg-4 pt_l">
                <h1 class="m_0">Get in touch</h1>
                <div class="mb_s mt_s">
                  <i class="fa fa-envelope fa-2x mr_s" aria-hidden="true"></i>
                  <h2 class="m_0"><a href="mailto:bractaxi@gmail.com?Subject=Hello">bractaxi@gmail.com</a></h2>
                </div>
                <div class="mb_s">
                  <i class="fa fa-phone-square fa-2x cll mr_s" aria-hidden="true"></i>
                    <i class="mr_s"><a href="intent://send/+385989280471#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">
                      <img src="./images/whatsapp.png" class="icon-wapp" aria-hidden="true">
                    </a></i>
                  <i class ="fa fa-2x mr_s">
                    <img src="./images/viber.png" class="icon-wapp" aria-hidden="true"></i>
                  <h2 class="m_0">+385 (0)91 365 0024</h2>
                </div>
              </div>
              <div class="hidden-sm col-md-1 col-lg-2">
              </div>
            </div>
          </div>

          <div class="row p_m">
            <div class="col-sm-12">
              <div class="hidden-sm col-md-1 col-lg-2">
              </div>
              <div class="col-sm-12 col-md-10 col-lg-8">
                <div id="map"></div>
              </div>
              <div class="hidden-sm col-md-1 col-lg-2">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="hidden-sm col-md-1 col-lg-2">
              </div>
              <div class="col-sm-12 col-md-10 col-lg-8 tac">
                <div class="m_m inb">
                  <a target="_blank" href="https://www.facebook.com/braconwheels.wheels/"><i class="fa fa-facebook-official fa-2x mr_m ml_m" aria-hidden="true"></i></a>
                  <i class="fa fa-google-plus fa-2x mr_m ml_m" aria-hidden="true"></i>
                </div>
              </div>
              <div class="hidden-sm col-md-1 col-lg-2">
              </div>
            </div>
          </div>

        </div>

  </div>
